.container {
    max-height: 100hv;
    background-image: url('imgs/1.jpg');
    background-size: cover;
    border-radius: 40px;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0.19) !important;

}

::placeholder {
    color: black;
    opacity: 1;
}
